#body {
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
}

footer {
    background-color: lightslategray;
    color: #d5d5d5;
    position: relative;
    padding-top: 40px;
    bottom: 0;
    width: 100%;
}
hr {
    background-color: black;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ffbb33 !important;
    text-decoration: none;
}
div:hover{
    border-color: #ffbb33 !important ;
    
}

#critical{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #d9534f;
}

#warning{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffbb33;
}

#notice{
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #5bc0de;
}
.Unreachable{
    color: #ff4444;

}

.Reachable{
    color: #ffbb33;
}
.Running{
    color: #00C851;
}
