#body {
    background-color: black;
    background-repeat: no-repeat;
    height: 100%;
}

footer {
    background-color: lightslategray;
    color: #d5d5d5;
    position: relative;
    padding-top: 40px;
    bottom: 0;
    width: 100%;
}
hr {
    background-color: black;
}
a:hover {
    color: #ffbb33 !important;
}
div:hover{
    border-color: #ffbb33 !important ;
    /* color: #ffbb33 !important; */
    
}
#intrusion_detection{
    padding: 40px;
}

#file_permission{
    padding: 40px;
}


#security_analytics{
    padding: 40px;
}
#file_integrity{
    padding: 40px;
}

#warning{
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffbb33;
}
a {
    color: lightgrey !important;
}
.Unreachable{
    color: #ff4444;

}

.Reachable{
    color: #ffbb33;
}
.Running{
    color: #00C851;
}

#agent-table{
    margin-top: 0px;
}


select{
    /* background-color: #262626 ; */
    color: white;
    padding: 5px 10px;
   
}

#dropdown{
    margin: 10px 0px;
}