[Unit]
Description=Stealth agent
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=python3 /var/lib/agent/run.py
WorkingDirectory= /var/lib/agent/
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n